@page "/worktime"
@using EduWork.Common.DTO
@using Newtonsoft.Json
@using System.Text
@inject HttpClient Http
@inject IToastService toastService

<PageTitle>Radno vrijeme</PageTitle>

<h4 style="text-align:center">Upravljanje radnim vremenom</h4>

<div class="container">
    <div class="row g-2">
        <div style="margin-top:50px;" class="col-md-6">

            <div style="text-align:left;">
 
                    <h4>@workTimeEditorHeader</h4>

                <EditForm Model="workTimePart" OnValidSubmit="@SubmitInput">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <label for="workDate">@selectedDayLabel</label> <br />
                        <button id="lijeviChevron" class="btn btn-secondary" hidden="@(!isNewEntry)" type="button" @onclick="() => ChangeDate(-1)"><span><i class="bi bi-chevron-left"></i></span></button>

                        <InputDate disabled="@dateDisabled" id="workDate" @bind-Value="workTimePart.WorkDate" class="form-control" style="display:inline-block; max-width:fit-content;" @onblur="UpdateTable" />
                        
                        <button id="desniChevron" class="btn btn-secondary" hidden="@(!isNewEntry)" type="button" @onclick="() => ChangeDate(1)"> <span><i class="bi bi-chevron-right"></i></span></button>
                        
                        <button class=" btn btn-secondary" hidden="@(!isNewEntry)" title="Današnji datum" type="button" @onclick="ResetSelectedDate"><i class="bi bi-clock-history"></i></button>
                        <ValidationMessage For="@(() => workTimePart.WorkDate)" /><br />

                        <label style="padding-top:20px;">@changeWorkTimeLabel</label><br />

                        <InputDate id="startTime" @bind-Value="workTimePart.StartTime" Type="InputDateType.Time" class="form-control" style=" display:inline-block; max-width:fit-content;" />

                        -
                        <InputDate id="endTime" @bind-Value="workTimePart.EndTime" Type="InputDateType.Time" class="form-control" style=" display:inline-block; max-width:fit-content;" />
                        <ValidationMessage For="@(() => workTimePart.StartTime)" />
                        <ValidationMessage For="@(() => workTimePart.EndTime)" />

                    </div>

                    <button hidden="@(!isNewEntry)" class="btn btn-primary" style="margin-top:15px;" type="submit">Unesi</button>
    
                    <button hidden="@(isNewEntry)" class="btn btn-info" style="margin-top:15px" type="submit">Ažuriraj</button>
                    <button hidden="@(isNewEntry)" class="btn btn-secondary" @onclick="CancelEdit" style="margin-top:15px" type="button">Odustani</button>
                    

                </EditForm>
            </div>

        </div>
        <div style="margin-top:50px;" class=" col-md-6">

            <h4 class="odabraniDan">Vremenski odsječci za @workTimePart.WorkDate.Day/@workTimePart.WorkDate.Month/@workTimePart.WorkDate.Year:</h4>

            @if (workTimeList == null)
            {
                <p>Učitavanje...</p>
            }
            else if (workTimeList.Count == 0)
            {
                <p>Nema vremenskih odsječaka za odabrani dan.</p>
            }
            else
            {
                <p>Ukupno odrađenih sati: @FormatTimeSpan(CalculateTotalTime())</p>
                <div class="tableScroll">
                    <table class="table table-bordered table-striped">
                        <thead class="text-white">
                            <tr>
                                <th>#</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var element in workTimeList)
                            {
                                <tr>
                                    <td>@(workTimeList.IndexOf(element) + 1)</td>
                                    <td>@element.StartTime</td>
                                    <td>@element.EndTime</td>
                                    <td>
                                        @if (editingElement == element)
                                        {
                                            <button class="btn btn-primary" @onclick="() => EditWorkTimePart(element)">
                                                <i class="bi bi-x-circle"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-info" @onclick="() => EditWorkTimePart(element)">
                                                <i class="bi bi-pencil-square"></i>
                                            </button>
                                        }

                                        <button class="btn btn-danger" @onclick="() => deleteWorkTimePart(element.Id)" style="margin-left:10px">
                                            <i class="bi bi-trash3-fill"></i>
                                        </button>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

@code {
    const string INSERT_TIME_HEADER = "Unos radnog vremena";
    const string EDIT_TIME_HEADER = "Izmjena radnog vremena";

    const string INSERT_TIME_P = "Unesite odsječak radnog vremena";
    const string EDIT_TIME_P = "Izmjenite odsječak radnog vremena";

    const string INSERT_DAY_LABEL = "Odaberite dan:";
    const string EDIT_DAY_LABEL = "Odsječak pripada danu:";

    private string workTimeEditorHeader = INSERT_TIME_HEADER;
    private string changeWorkTimeLabel = INSERT_TIME_P;
    private string selectedDayLabel = INSERT_DAY_LABEL;

    public TimeSpan totalWorkTime { get; set; } = TimeSpan.Zero;

    private bool isNewEntry = true;

    WorkTimePartDTO editingElement = null!;

    private bool dateDisabled = false;

    private async void SubmitInput()
    {
        if(isNewEntry)
        {
            await SaveWorkTimeRecord();
        }
        else
        {
            UpdateWorkTimeRecord();
        }
    }

    async Task SaveWorkTimeRecord()
    {
        var response = await Http.PostAsJsonAsync("api/WorkDayTimes", workTimePart);

        if (response.IsSuccessStatusCode)
        {
            await UpdateTable();
            toastService.ShowSuccess("Vremenski odsječak je pohranjen.");
        }
        else
        {
            var errorContent = await response.Content.ReadAsStringAsync();
            toastService.ShowError(errorContent);
        }
    }

    private async void UpdateWorkTimeRecord()
    {
        UpdateWorkTimePartDTO update = new UpdateWorkTimePartDTO
                {
                    Id = editingElement.Id,
                    StartTime = workTimePart.StartTime,
                    EndTime = workTimePart.EndTime,
                    UserId = 1,
                    WorkDate = workTimePart.WorkDate
                };
        var response = await Http.PutAsJsonAsync($"api/WorkDayTimes/", update);

        if (response.IsSuccessStatusCode)
        {
            toastService.ShowSuccess("Changes applied successfully.");
            CancelEdit();
        } 
        else  
        {   
            toastService.ShowError(await response.Content.ReadAsStringAsync());
        }  
        await UpdateTable();
    }

    private void EditWorkTimePart(WorkTimePartDTO element)
    {
        // Start new edit
        if (editingElement == element)
        {
            CancelEdit();
            return;
        }

        editingElement = element;
        isNewEntry = false;
        workTimeEditorHeader = EDIT_TIME_HEADER;
        changeWorkTimeLabel = EDIT_TIME_P;
        dateDisabled = true;
        selectedDayLabel = EDIT_DAY_LABEL;

        workTimePart.StartTime = element.StartTime;
        workTimePart.EndTime = element.EndTime;
    }

    private void CancelEdit()
    {
        editingElement = null!;
        isNewEntry = true;
        workTimeEditorHeader = INSERT_TIME_HEADER;
        changeWorkTimeLabel = INSERT_TIME_P;
        dateDisabled = false;
        selectedDayLabel = INSERT_DAY_LABEL;
    }

    private async void ResetSelectedDate()
    {
        workTimePart.WorkDate = DateOnly.FromDateTime(DateTime.Now);
        await UpdateTable();
    }

    private TimeSpan CalculateRemainingWorkTime()
    {
        TimeSpan eightHours = TimeSpan.FromHours(8);
        TimeSpan time = eightHours - totalWorkTime;
        if (totalWorkTime > eightHours)
        {
            return TimeSpan.Zero;
        }
        return time;
    }

    private void UpdateInsertTime(TimeOnly latestTime)
    {
        workTimePart.StartTime = latestTime;
        var startTime = new DateTime(1, 1, 1, workTimePart.StartTime.Hour, workTimePart.StartTime.Minute, workTimePart.StartTime.Second);
        var endTime = startTime + CalculateRemainingWorkTime();
        if (endTime.Day != 1)
        {
            workTimePart.EndTime = new TimeOnly(23, 45, 00);
        }
        else
        {
            workTimePart.EndTime = new TimeOnly(endTime.Hour, endTime.Minute, endTime.Second);
        }
    }

    SetWorkDayTimeDTO workTimePart = new SetWorkDayTimeDTO
        {
            WorkDate = DateOnly.FromDateTime(DateTime.Now),
            UserId = 1,
            StartTime = TimeOnly.FromDateTime(DateTime.Now)
        };

    private async void ChangeDate(int change)
    {
        workTimePart.WorkDate = workTimePart.WorkDate.AddDays(change);
        await UpdateTable();
    }

    List<WorkTimePartDTO>? workTimeList;

    protected override async Task OnInitializedAsync()
    {
        await UpdateTable();
    }

    TimeOnly latestTime = TimeOnly.FromDateTime(DateTime.Now);

    public async Task UpdateTable()
    {
        try
        {
            RequestWorkTimePartsDTO request = new RequestWorkTimePartsDTO
                {
                    UserId = 1,
                    Day = workTimePart.WorkDate.Day,
                    Month = workTimePart.WorkDate.Month,
                    Year = workTimePart.WorkDate.Year
                };

            workTimeList = await Http.GetFromJsonAsync<List<WorkTimePartDTO>>($"api/WorkDayTimes?UserId={request.UserId}&Day={request.Day}&Month={request.Month}&Year={request.Year}");
            TimeOnly latestTime = TimeOnly.FromDateTime(DateTime.Now);
            foreach (WorkTimePartDTO element in workTimeList)
            {
                if (latestTime <= element.EndTime) latestTime = element.EndTime;
            }
            CalculateTotalTime();
            UpdateInsertTime(latestTime);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    public TimeSpan CalculateTotalTime()
    {
        totalWorkTime = TimeSpan.Zero;
        foreach (var element in workTimeList)
        {
            if (element?.StartTime != null && element?.EndTime != null)
            {
                DateTime startDateTime = new DateTime(
                    1, 1, 1, element.StartTime.Hour, element.StartTime.Minute, element.StartTime.Second);

                DateTime endDateTime = new DateTime(
                    1, 1, 1, element.EndTime.Hour, element.EndTime.Minute, element.EndTime.Second);

                totalWorkTime += endDateTime - startDateTime;
            }
        }
        return totalWorkTime;
    }

    private string FormatTimeSpan(TimeSpan timeSpan)
    {
        TimeSpan eightHours = TimeSpan.FromHours(8);
        return $"{(int)timeSpan.TotalHours}:{timeSpan:mm}";
    }

    private async void ApplyUpdates()
    { }

    private async void deleteWorkTimePart(int id)
    {
        var response = await Http.DeleteAsync($"api/WorkDayTimes/{id}");

        if (response.IsSuccessStatusCode)
        {
            var elementToRemove = workTimeList.FirstOrDefault(e => e.Id == id);
            if (elementToRemove != null)
            {
                workTimeList.Remove(elementToRemove);
                toastService.ShowSuccess("Vremenski odsječak je obrisan.");
                await UpdateTable();
            }
        }
        else
        {
            toastService.ShowError(await response.Content.ReadAsStringAsync());
        }
    }
}
